@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("MVC", "MVC")
@Html.ActionLink("Ajax", "AjaxIndex")
@Html.ActionLink("AjaxWcf", "AjaxWcfIndex")
@Html.ActionLink("AddProbe", "AddProbe")